@import 'tailwindcss';

:where(html.piggy-cursor) {
  cursor: url('/cursor.png'), auto;
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }

  .carousel-scrollbar {
    &::-webkit-scrollbar {
      @apply h-4;
    }

    &::-webkit-scrollbar-track {
      @apply bg-gray-400;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-700;
    }
  }

  input[type='range'].color-selector {
    @apply rounded-full bg-gray-200;
    background: linear-gradient(
      to right,
      oklch(0.7 0.25 0),
      oklch(0.7 0.25 120),
      oklch(0.7 0.25 240),
      oklch(0.7 0.25 360)
    );
    appearance: none;

    &::-webkit-slider-thumb {
      @apply h-3 w-3 rounded-full border border-gray-500 bg-gray-50;
      appearance: none;
    }
  }

  @keyframes --BounceAnimation {
    50% {
      transform: translateY(5%);
    }
  }
}
