---
import FindMeOn from '@/components/features/FindMeOn.astro';
import IconCarousel from '@/components/features/IconCarousel/IconCarousel.astro';
import Speedrun from '@/components/features/Speedrun.astro';
import { siteConfig } from '@/config';
import Layout from '@/layouts/Layout.astro';

const currentYear = new Date().getFullYear();
---

<Layout bodyClasses="flex justify-center px-4 py-15">
  <div class="relative grid w-full max-w-96 grid-cols-1 gap-6 md:max-w-215 md:grid-cols-[260px_auto]">
    <header class="top-4 grid h-fit grid-cols-1 gap-12 md:sticky">
      <h1 class="text-center text-3xl font-bold">{siteConfig.title}</h1>
      <IconCarousel />
    </header>
    <main class="grid h-fit gap-4">
      <FindMeOn />
      <Speedrun />
    </main>

    <footer class="w-full text-center text-gray-500 md:col-span-2">
      <p>&copy; {currentYear} {siteConfig.name}</p>
    </footer>
  </div>
</Layout>
