---
import '@/styles/typography.css';

const speedrunRecords: { href: string; text: string }[] = [
  {
    href: 'https://youtube.com/playlist?list=PLzok6euqU3kwZVdrWvIMRwcdFW2KzQAYA',
    text: '[21:01:47] Unrailed!/全実績（参考記録）',
  },
  {
    href: 'https://youtu.be/bVX-GoHiTGs',
    text: '[1:00:32.167] Unrailed! Easy / 1 Player / RS',
  },
  {
    href: 'https://youtu.be/5Fm5g989_ZU',
    text: '[01:01:47.000] Unrailed!/Endless/Medium/1 Player/RS',
  },
  {
    href: 'https://youtu.be/ulC1LoUqeRE',
    text: '[1:15:35.800] Unrailed! Hard / 1 Player / RS',
  },
  {
    text: '[1:04:55.417] Unrailed 2 / Classic Any% / Easy / Steam / 1 Player Bot / RS',
    href: 'https://youtu.be/E32HGGM15zk',
  },
  {
    text: '[55:06.633] Unrailed 2 / Classic Any% / Easy / Ghost / 1 Player Bot / RS',
    href: 'https://youtu.be/52zNZyj4BEE',
  },
];
---

<section class="typography">
  <h2>Speedrun</h2>
  <ul>
    {
      speedrunRecords.map(({ href, text }) => (
        <li>
          <a href={href} target="_blank" rel="noopener noreferrer">
            {text}
          </a>
        </li>
      ))
    }
  </ul>
</section>
