---
interface Props {
  copyText: string;
  label?: string;
}
const { copyText, label = copyText } = Astro.props;
---

<copy-button data-value={copyText}>
  <button type="button" class="btn cursor-pointer text-cyan-900 hover:underline">
    <span class="label">{label}</span>
  </button>
  <span hidden class="feedback rounded-full text-cyan-400 select-none">✓</span>
</copy-button>

<script>
  class CopyButton extends HTMLElement {
    constructor() {
      super();
      const button = this.querySelector('button');
      const value = this.dataset.value;
      const label = this.querySelector('.label');
      const feedback = this.querySelector('.feedback');

      if (!button || !value) return;

      button.addEventListener('click', async () => {
        try {
          await navigator.clipboard.writeText(value);

          this.toggleFeedback(label, feedback, true);

          setTimeout(() => {
            this.toggleFeedback(label, feedback, false);
          }, 2000);
        } catch (err) {
          console.error(err);
        }
      });
    }

    toggleFeedback(label: Element | null, feedback: Element | null, isSuccess: boolean) {
      if (label && feedback) {
        (feedback as HTMLElement).hidden = !isSuccess;
      }
    }
  }

  customElements.define('copy-button', CopyButton);
</script>
